*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1em;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9fafe;
  color: #020307;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

header,
main,
footer {
  padding: 2em;
}

header > section,
main > section {
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
}
@media screen and (min-width: 64rem) {
  header,
main {
    padding: 3em;
  }
}

header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header > section {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
header > section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header > section > div + div {
  margin-top: 1em;
}
@media screen and (min-width: 64rem) {
  header > section {
    flex-direction: row;
  }
  header > section > div {
    flex-grow: 1;
  }
  header > section > div + div {
    margin-top: 0;
    margin-left: 1em;
  }
}

#main-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: #f1f2f6;
}

footer {
  background-color: #eaebef;
}
footer p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1,
h2,
h3 {
  text-shadow: 0 0.25em 1em rgba(2, 3, 7, 0.03125), 0 0.25em 1em rgba(2, 3, 7, 0.0625);
  color: #020307;
  font-weight: 700;
  line-height: 0.875;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
}
* + h1 {
  margin-top: 0.5em;
}

h2 {
  text-shadow: 0 0.25em 1em rgba(187, 188, 192, 0.03125), 0 0.25em 1em rgba(2, 3, 7, 0.0625);
  color: #bbbcc0;
  font-size: 3rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
}

p {
  max-width: 48ch;
  color: #7e7f83;
  text-align: justify;
}

.colored-underline {
  position: relative;
  color: #020307;
  font-weight: 700;
  line-height: 0.875;
  z-index: 1;
}
.colored-underline::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  height: 0.25em;
  border-radius: 0.0625em;
  opacity: 0.25;
  z-index: -1;
}

.icon-nav {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  margin-bottom: 3em;
  line-height: 0;
}
.icon-nav li + li {
  margin-left: 20px;
}
.icon-nav a {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: opacity 0.125s ease;
}
.icon-nav a:hover {
  opacity: 0.875;
}
.icon-nav a:active {
  opacity: 0.75;
}
.icon-nav a:focus {
  outline: none;
}
.icon-nav a:focus::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: -4px;
  right: -4px;
  top: -4px;
  bottom: -4px;
  border: solid 4px #020307;
  border-radius: 50%;
}
.icon-nav a.github {
  box-shadow: inset -5px 5px 10px rgba(249, 250, 254, 0.125), inset 5px -5px 10px rgba(2, 3, 7, 0.03125), 0 10px 40px rgba(0, 122, 214, 0.125), 0 10px 40px rgba(2, 3, 7, 0.0625);
  background-color: #007ad6;
}
.icon-nav a.github:focus::after {
  border-color: rgba(0, 122, 214, 0.5);
}
.icon-nav a.linkedin {
  box-shadow: inset -5px 5px 10px rgba(249, 250, 254, 0.125), inset 5px -5px 10px rgba(2, 3, 7, 0.03125), 0 10px 40px rgba(72, 108, 223, 0.125), 0 10px 40px rgba(2, 3, 7, 0.0625);
  background-color: #486cdf;
}
.icon-nav a.linkedin:focus::after {
  border-color: rgba(72, 108, 223, 0.5);
}
.icon-nav a.mail {
  box-shadow: inset -5px 5px 10px rgba(249, 250, 254, 0.125), inset 5px -5px 10px rgba(2, 3, 7, 0.03125), 0 10px 40px rgba(238, 52, 127, 0.125), 0 10px 40px rgba(2, 3, 7, 0.0625);
  background-color: #ee347f;
}
.icon-nav a.mail:focus::after {
  border-color: rgba(238, 52, 127, 0.5);
}

.skills {
  padding: 2em;
  max-width: 24rem;
  width: 100%;
}
.skills li {
  display: flex;
  align-items: center;
}
.skills li:nth-child(odd) {
  flex-direction: row;
}
.skills li:nth-child(odd) p {
  margin-left: 0.75em;
}
.skills li:nth-child(even) {
  flex-direction: row-reverse;
}
.skills li:nth-child(even) p {
  margin-right: 0.75em;
}
.skills li.swift .icon {
  box-shadow: inset -6px 6px 12px rgba(249, 250, 254, 0.125), inset 6px -6px 12px rgba(2, 3, 7, 0.03125), 0 12px 48px rgba(240, 81, 55, 0.125), 0 12px 48px rgba(2, 3, 7, 0.0625);
  background-color: #f05137;
}
.skills li.swift .colored-underline::after {
  background-color: #f05137;
  box-shadow: 0 0.0625em 0.25em rgba(240, 81, 55, 0.125), 0 0.0625em 0.25em rgba(2, 3, 7, 0.0625);
}
.skills li.swiftui .icon {
  box-shadow: inset -6px 6px 12px rgba(249, 250, 254, 0.125), inset 6px -6px 12px rgba(2, 3, 7, 0.03125), 0 12px 48px rgba(72, 108, 223, 0.125), 0 12px 48px rgba(2, 3, 7, 0.0625);
  background-color: #486cdf;
}
.skills li.swiftui .colored-underline::after {
  background-color: #486cdf;
  box-shadow: 0 0.0625em 0.25em rgba(72, 108, 223, 0.125), 0 0.0625em 0.25em rgba(2, 3, 7, 0.0625);
}
.skills li.react .icon {
  box-shadow: inset -6px 6px 12px rgba(249, 250, 254, 0.125), inset 6px -6px 12px rgba(2, 3, 7, 0.03125), 0 12px 48px rgba(0, 122, 214, 0.125), 0 12px 48px rgba(2, 3, 7, 0.0625);
  background-color: #007ad6;
}
.skills li.react .colored-underline::after {
  background-color: #007ad6;
  box-shadow: 0 0.0625em 0.25em rgba(0, 122, 214, 0.125), 0 0.0625em 0.25em rgba(2, 3, 7, 0.0625);
}
.skills li.typescript .icon {
  box-shadow: inset -6px 6px 12px rgba(249, 250, 254, 0.125), inset 6px -6px 12px rgba(2, 3, 7, 0.03125), 0 12px 48px rgba(2, 123, 167, 0.125), 0 12px 48px rgba(2, 3, 7, 0.0625);
  background-color: #027ba7;
}
.skills li.typescript .colored-underline::after {
  background-color: #027ba7;
  box-shadow: 0 0.0625em 0.25em rgba(2, 123, 167, 0.125), 0 0.0625em 0.25em rgba(2, 3, 7, 0.0625);
}
.skills li + li {
  margin-top: 1em;
}
.skills .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.skills img {
  width: 32px;
  height: 32px;
}
.skills p {
  font-size: 1.5rem;
}
@media screen and (min-width: 64rem) {
  .skills {
    max-width: 32rem;
  }
  .skills li + li {
    margin-top: 2em;
  }
  .skills .icon {
    width: 64px;
    height: 64px;
  }
  .skills img {
    width: 40px;
    height: 40px;
  }
  .skills p {
    font-size: 2rem;
  }
}

.experience {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
}
.experience li {
  margin-top: 2em;
}
.experience li:nth-child(odd) div {
  flex-direction: row;
}
.experience li:nth-child(odd) img {
  margin-right: 1em;
}
.experience li:nth-child(odd) p {
  margin-right: auto;
}
.experience li:nth-child(even) div {
  flex-direction: row-reverse;
}
.experience li:nth-child(even) img {
  margin-left: 1em;
}
.experience li:nth-child(even) p {
  margin-left: auto;
}
.experience li.devizer .colored-underline::after {
  background-color: #007ad6;
  box-shadow: 0 0.0625em 0.25em rgba(0, 122, 214, 0.125), 0 0.0625em 0.25em rgba(2, 3, 7, 0.0625);
}
.experience li.versasense .colored-underline::after {
  background-color: #f05137;
  box-shadow: 0 0.0625em 0.25em rgba(240, 81, 55, 0.125), 0 0.0625em 0.25em rgba(2, 3, 7, 0.0625);
}
.experience li.quivr .colored-underline::after {
  background-color: #ffc55f;
  box-shadow: 0 0.0625em 0.25em rgba(255, 197, 95, 0.125), 0 0.0625em 0.25em rgba(2, 3, 7, 0.0625);
}
.experience div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
}
.experience img {
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 64rem) {
  .experience li {
    margin-top: 4em;
  }
  .experience div {
    margin-bottom: 1em;
  }
}

@keyframes down-nav-focus {
  to {
    transform: translateY(50%);
  }
}
#down-nav {
  margin-left: auto;
  margin-right: auto;
  transition: opacity 0.125s ease;
}
#down-nav:hover {
  opacity: 0.875;
}
#down-nav:active {
  opacity: 0.75;
}
#down-nav a {
  display: inline-block;
}
#down-nav a:focus {
  outline: none;
  animation: down-nav-focus 0.5s ease-in-out alternate infinite;
}

#jochenbernard {
  margin-top: 1em;
  margin-bottom: 1em;
}

/*# sourceMappingURL=style.css.map */
