html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 1rem;
  background-color: #ffffff;

  color: rgba(0, 0, 0, 0.85);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16.25px;
  letter-spacing: -0.1px;
  line-height: 20px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  padding: 2rem 1rem;
  width: 768px;
  max-width: 100%;
}

main.center {
  justify-content: center;
}

article {
  max-width: 100%;
}

.jochenbernard {
  margin-bottom: 15px;
}

h1,
h2,
h3,
a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 > img,
h2 > img,
h3 > img,
a > img {
  margin-right: 0.25em;
}

a > img {
  margin-left: -0.375em;
}

h1 {
  font-size: 32.5px;
  letter-spacing: 0.425px;
  line-height: 40px;
}

h2 {
  margin-top: 1em;

  font-size: 27.5px;
  letter-spacing: 0;
  line-height: 32.5px;
}

h3,
dt {
  font-size: 21.25px;
  letter-spacing: 0;
  line-height: 27.5px;
}

dl {
  text-align: left;
}

dt {
  margin-top: 1em;
}

dd {
  margin-left: 1em;
}

dt,
dd {
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.25);
}

dt > span:first-child {
  color: rgba(0, 0, 0, 0.85);
}

dt > span:nth-child(2),
dd > span:first-child {
  color: rgba(0, 0, 0, 0.5);
}

address > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

address > ul > li {
  padding: 0.125em 0;
}

a {
  outline: none;
  position: relative;

  padding: 0 0.5em;
  border-radius: 0.015625px;

  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75),
    0 0 0 4px rgba(0, 122, 255, 1);
}

a.back {
  align-self: flex-start;

  margin-left: 0.75rem;
  margin-bottom: 1.75rem;
  padding: 0.125em 0.625em;
}

ul.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 1em;
}

a.button {
  margin: 0.25em;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  background-color: #000000;

  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;

  transition: opacity 0.25s ease;
}

a.button:hover {
  opacity: 0.925;
}

a.button:active {
  opacity: 0.85;
}

a.button > img {
  margin-left: -0.125em;
  margin-right: 0.25em;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-top: 1em;
}

.skills > li > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0 1em;
}

.skills li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dot {
  display: inline-block;

  margin-right: 4px;
  width: 8px;
  height: 8px;
  border-radius: 100%;

  color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.dot.full {
  background-color: rgba(0, 0, 0, 0.85);
}

.dot.half {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.85) 50%,
    rgba(0, 0, 0, 0.125) 50%
  );
}

.dot.empty {
  background-color: rgba(0, 0, 0, 0.125);
}

footer {
  padding-bottom: 2rem;

  color: rgba(0, 0, 0, 0.25);
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: 16.25px;
}

@media only screen and (max-width: 640px) {
  body {
    zoom: 0.875;
  }
}

@media only screen and (max-width: 512px) {
  body {
    zoom: 0.75;
  }
}

@media print {
  body {
    zoom: 0.75;
  }

  a.back {
    display: none;
  }
}
