@use "sass:math" as *;

$yellow: #ffc55f;
$orange: #f05137;
$pink: #ee347f;
$purple: #bc4dbc;
$indigo: #486cdf;
$blue: #007ad6;
$teal: #027ba7;

$primary: $indigo;

$weight: div(100%, 32);
$white: mix($primary, white, $weight);
$black: mix($primary, black, $weight);

$github: $blue;
$linkedin: $indigo;
$mail: $pink;

$swift: $orange;
$swiftui: $indigo;
$react: $blue;
$typescript: $teal;

$devizer: $blue;
$versasense: $orange;
$quivr: $yellow;
