@use "sass:math";

$orange: #f05137;
$pink: #ee347f;
$purple: #bc4dbc;
$indigo: #486cdf;
$blue: #007ad6;
$teal: #027ba7;
$yellow: #ffc55f;

$primary-color: $indigo;

$color-weight: math.div(100%, 32);
$white: mix($primary-color, white, $color-weight);
$black: mix($primary-color, black, $color-weight);

$github-color: $blue;
$linkedin-color: $indigo;
$mail-color: $pink;

$swift-color: $orange;
$swiftui-color: $indigo;
$react-color: $blue;
$typescript-color: $teal;

$devizer-color: $blue;
$versasense-color: $orange;
$quivr-color: $yellow;
