@use "sass:math" as *;

@use "colors" as *;

@function weight($amount) {
  @return pow(0.5, $amount);
}

@function lighten($color, $amount) {
  @return mix($color, $white, 100% * weight($amount));
}

@function darken($color, $amount) {
  @return mix($color, $black, 100% * weight($amount));
}

@function shadow($blur, $color) {
  $offset: div($blur, 4);
  @return 0 $offset $blur $color, 0 $offset $blur rgba($black, weight(4));
}

@function inset-shadow($blur) {
  $offset: div($blur, 2);
  @return inset 0 - $offset $offset $blur rgba($white, weight(3)),
    inset $offset 0 - $offset $blur rgba($black, weight(5));
}
