@use "sass:math" as *;

@use "variables" as *;
@use "functions" as *;

@mixin margin-horizontal($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin margin-vertical($margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

@mixin icon-shadow($size, $color) {
  box-shadow: inset-shadow(div($size, 4)),
    shadow($size, rgba($color, weight(3)));
}
