@use "sass:math";

@use "colors" as *;
@use "functions" as *;

$max-width: 1536px;

$breakpoint-small: 512px;
$breakpoint-medium: 640px;
$breakpoint-large: 1216px;

$font-size: 16px;
$font-size-large: 20px;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$heading-font-weight: 700;
$heading-line-height: 0.875;
$heading-margin-bottom: 1.5em;
$heading-color: $foreground-color;
$heading-text-shadow-blur: 1em;
$heading-text-shadow-weight: weight(3);

$jochenbernard-margin-bottom: 2em;

$h1-font-size: 4em;
$h1-font-weight: 900;
$h1-margin-bottom: 0.75em;

$h2-font-size: 3em;
$h2-color: lighten($primary-color, 2);

$h3-font-size: 2em;

$p-max-width: 48ch;
$p-line-height: 1.5;
$p-color: lighten($foreground-color, 1);

$down-navigation-bottom: 2em;
$down-navigation-opacity: 0.5;
$down-navigation-hover-opacity: 1;

$header-padding: 3em;
$header-padding-small: 6em;
$header-padding-medium: 8em;
$header-padding-large: 4em;
$header-div-flex: 4, 3;

$icon-navigation-size: 40px;
$icon-navigation-margin: math.div($icon-navigation-size, 2);
$icon-navigation-hover-opacity: 0.875;
$icon-navigation-active-opacity: 0.75;

$icon-list-min-width-medium: 384px;
$icon-list-max-width-medium: 512px;
$icon-list-max-width-large: 640px;
$icon-list-margin: 2em;
$icon-list-shadow-blur: 1em;
$icon-list-shadow-color-weight: weight(2);
$icon-list-underline-height: 0.25em;
$icon-list-underline-weight: weight(2);
$icon-list-icon-size: 80px, 56px;
$icon-list-icon-size-large: 96px, 64px;

$main-padding: 2em;
$main-padding-medium: 4em;
$main-background-color: $primary-color;
$main-foreground-color: $background-color;
$main-box-shadow: inset 0 0 8em rgba(black, weight(4)),
  0 0 4em rgba($primary-color, weight(2));
$main-h2-color: mix(
  $main-foreground-color,
  $main-background-color,
  100% * weight(1)
);
$main-p-color: mix(
  $main-foreground-color,
  $main-background-color,
  100% * weight(1)
);

$footer-padding: 2em;
$footer-p-color: lighten($foreground-color, 2);

$hover-transition-duration: 1s * weight(3);
