@use "sass:math";

@use "colors" as *;
@use "functions" as *;

$hover-transition-duration: 1s * weight(3);

$max-width: 1536px;

$breakpoint-small: 512px;
$breakpoint-medium: 640px;
$breakpoint-large: 1280px;

$font-size: 16px;
$font-size-large: 20px;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$heading-text-shadow-blur: 1em;
$heading-text-shadow-alpha: weight(3);

$heading-font-weight: 700;
$heading-line-height: 0.875;
$heading-color: $foreground-color;

$h1-font-size: 4em;
$h1-font-weight: 900;
$h1-margin-top: 0.5em;

$h2-font-size: 3em;
$h2-color: lighten($primary-color, 2);
$h2-margin-bottom: 2em;

$h3-font-size: 2em;

$p-max-width: 48ch;
$p-color: lighten($foreground-color, 1);
$p-line-height: 1.5;

$down-navigation-padding-bottom: 1em;
$down-navigation-opacity: 0.5;
$down-navigation-hover-opacity: 1;

$header-padding: 2em;
$header-padding-small: 4em;
$header-padding-medium: 6em;
$header-padding-large: 4em;

$icon-navigation-margin-horizontal: 2em;
$icon-navigation-size: 40px;
$icon-navigation-margin: math.div($icon-navigation-size, 2);
$icon-navigation-hover-opacity: 0.875;
$icon-navigation-active-opacity: 0.75;

$icon-list-margin: 2em;
$icon-list-max-width: 512px;
$icon-list-max-width-large: 640px;
$icon-list-min-width-large: 448px;
$icon-list-content-max-width: 1024px;

$icon-list-text-shadow-blur: 1em;
$icon-list-text-shadow-alpha: weight(2);

$icon-list-underline-height: 0.25em;
$icon-list-underline-alpha: weight(2);

$icon-list-icon-size: 80px, 56px;
$icon-list-icon-size-large: 96px, 64px;

$main-padding: 2em;
$main-padding-medium: 3em;
$main-background-color: $primary-color;
$main-foreground-color: $background-color;
$main-box-shadow: inset 0 0 8em rgba(black, weight(4)),
  0 0 4em rgba($primary-color, weight(2));
$main-h2-color: mix(
  $main-foreground-color,
  $main-background-color,
  100% * weight(1)
);
$main-p-color: mix(
  $main-foreground-color,
  $main-background-color,
  100% * weight(1)
);

$footer-padding: 1em;
$footer-padding-small: 1.5em;
$footer-padding-medium: 2em;
$footer-p-color: lighten($foreground-color, 2);
