@use "sass:math" as *;

@use "colors" as *;
@use "functions" as *;

$padding: 2em;
$max-width: 72rem;
$background-color: $white;
$foreground-color: $black;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$line-height: 1.5;

$heading-font-weight: 700;
$heading-line-height: 0.875;

$h1-margin-top: 0.5em;
$h1-font-size: 3.5rem;
$h1-font-weight: 900;

$h2-font-size: 3rem;
$h2-font-weight: 400;
$h2-color: lighten($foreground-color, 2);

$h3-font-size: 2rem;

$p-max-width: 48ch;
$p-color: lighten($foreground-color, 1);

$jochenbernard-margin-vertical: 1em;

$colored-underline-height: 0.25em;
$colored-underline-opacity: weight(2);
$colored-underline-border-radius: div($colored-underline-height, 4);

$icon-nav-icon-size: 40px;
$icon-nav-margin-vertical: 2em;
$icon-nav-gap: div($icon-nav-icon-size, 2);

$skills-icon-size: 48px 32px;
$skills-icon-margin: 1em;
$skills-max-width: 24rem;
$skills-padding: 2em;
$skills-gap: 1em;
$skills-font-size: 1.5rem;

$skills-breakpoint: 64rem;

$skills-icon-size-large: 64px 40px;
$skills-max-width-large: 32rem;
$skills-gap-large: 2em;
$skills-font-size-large: 2rem;

$experience-icon-size: 48px;
$experience-icon-margin: 1em;
$experience-max-width: 48rem;
$experience-gap: 2em;
$experience-heading-margin-bottom: 0.5em;

$header-gap: 1em;
$header-breakpoint: 64rem;

$main-background-color: lighten($foreground-color, 5);

$footer-background-color: lighten($foreground-color, 4);
