$color-weight: 100% / 64;
$background-color: mix(black, white, $color-weight);
$foreground-color: mix(white, black, $color-weight);

body {
  background-color: $background-color;

  color: $foreground-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
