@use "src/reset";
@use "src/html-body";
@use "src/header-main-footer";
@use "src/headings";
@use "src/paragraph";
@use "src/colored-underline";
@use "src/icon-nav";
@use "src/skills";
@use "src/experience";
@use "src/down-nav";
@use "src/jochenbernard";
