@use "sass:math";
@use "sass:list";

$orange-color: #f05137;
$pink-color: #ee347f;
$purple-color: #bc4dbc;
$indigo-color: #486cdf;
$blue-color: #007ad6;
$teal-color: #027ba7;

$primary-color: $indigo-color;

$color-weight: math.div(100%, 32);
$background-color: mix($primary-color, white, $color-weight);
$foreground-color: mix($primary-color, black, $color-weight);

$breakpoint-small: 512px;
$breakpoint-medium: 640px;
$breakpoint-large: 1216px;

@function weight($amount) {
  @return math.pow(0.5, $amount);
}

@function lighten($color, $amount) {
  @return mix($color, $background-color, 100% * weight($amount));
}

@function shadow($blur, $color) {
  $offset: math.div($blur, 4);
  @return 0 $offset $blur $color, 0 $offset $blur rgba(black, weight(4));
}

@function inset-shadow($blur) {
  $offset: math.div($blur, 2);
  @return inset 0 - $offset $offset $blur rgba(white, weight(3)),
    inset $offset 0 - $offset $blur rgba(black, weight(5));
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;

  font-size: 16px;
  color: $foreground-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  @media screen and (min-width: $breakpoint-large) {
    font-size: 20px;
  }
}

@mixin heading-color($color) {
  color: $color;
  text-shadow: shadow(1em, rgba($color, weight(3)));
}

h1,
h2,
h3 {
  @include heading-color($foreground-color);

  font-weight: 700;
  line-height: 0.875;
}

h1 {
  margin-top: 0.5em;

  font-size: 4em;
  font-weight: 900;
  text-align: center;
}

h2 {
  @include heading-color(lighten($primary-color, 2));

  margin-bottom: 0.5em;
  width: 100%;

  font-size: 3em;

  @media screen and (min-width: $breakpoint-medium) {
    margin-bottom: 1em;
  }
}

h3 {
  font-size: 2em;
}

p {
  max-width: 48ch;

  line-height: 1.5;
  text-align: justify;
  color: lighten($foreground-color, 1);
}

header,
main > section {
  margin: 0 auto;
  max-width: 1536px;
}

header {
  position: relative;

  #down {
    position: absolute;
    left: 50%;
    bottom: 2em;
    transform: translateX(-50%);

    a {
      opacity: 0.5;

      transition: opacity 0.125s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}

header > section,
main > section {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  box-sizing: border-box;
}

header > section {
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3em;
    box-sizing: border-box;

    &:first-child {
      min-height: 100vh;
    }
  }

  h2 {
    margin-bottom: 1em;
  }

  @media screen and (min-width: $breakpoint-small) {
    & > div {
      padding: 6em;
    }

    h2 {
      margin-bottom: 1.5em;
    }
  }

  @media screen and (min-width: $breakpoint-medium) {
    & > div {
      padding: 8em;
    }

    h2 {
      margin-bottom: 2.5em;
    }
  }

  @media screen and (min-width: $breakpoint-large) {
    flex-direction: row;

    & > div {
      flex: 1;

      padding: 4em;

      &:first-child {
        min-height: auto;
      }
    }

    h2 {
      display: none;
    }
  }
}

.icon-navigation ul {
  display: flex;
  flex-direction: row;

  margin: 2em 0;

  $size: 40px;

  li + li {
    margin-left: math.div($size, 2);
  }

  img {
    width: $size;
    height: $size;
    border-radius: 50%;
  }

  @mixin icon-color($color) {
    img {
      background-color: $color;
      box-shadow: inset-shadow(math.div($size, 6)),
        shadow(math.div($size, 2), rgba($color, weight(2)));
    }
  }

  .github {
    @include icon-color($blue-color);
  }

  .linkedin {
    @include icon-color($indigo-color);
  }

  .mail {
    @include icon-color($pink-color);
  }

  a {
    transition: opacity 0.125s ease;

    &:hover {
      opacity: 0.875;
    }

    &:active {
      opacity: 0.75;
    }
  }
}

.icon-list {
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: $breakpoint-medium) {
    min-width: 384px;
    max-width: 512px;
  }

  @media screen and (min-width: $breakpoint-large) {
    min-width: 384px;
    max-width: 640px;
  }

  $margin: 2em;

  li {
    display: flex;
    align-items: center;

    &:nth-child(odd) {
      flex-direction: row;

      .icon {
        margin-right: $margin;
      }

      .heading-wrapper {
        align-items: flex-start;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      .icon {
        margin-left: $margin;
      }

      .heading-wrapper {
        align-items: flex-end;
      }
    }
  }

  li + li {
    margin-top: $margin;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .heading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .heading,
  h3 {
    position: relative;
    transform-style: preserve-3d;

    font-size: 2em;
    font-weight: 700;
    line-height: 0.875;

    &::after {
      content: "";

      position: absolute;

      $width: 0.25em;
      left: -$width;
      right: -$width;
      bottom: 0;
      height: $width;

      transform: translateZ(-1px);
    }
  }

  .heading {
    color: $foreground-color;
  }

  $icon-size-small: (80px, 56px);
  $icon-size-large: (96px, 64px);

  $breakpoint: $breakpoint-large;

  @mixin icon-size($icon-size) {
    .icon {
      $size: nth($icon-size, 1);
      width: $size;
      height: $size;

      img {
        $size: nth($icon-size, 2);
        width: $size;
        height: $size;
      }
    }

    .heading-wrapper {
      height: nth($icon-size, 1);
    }
  }

  @include icon-size($icon-size-small);

  @media screen and (min-width: $breakpoint) {
    @include icon-size($icon-size-large);
  }

  @mixin icon-color($color) {
    .icon {
      background-color: $color;
    }

    .heading,
    h3 {
      text-shadow: shadow(1em, rgba($color, weight(2)));

      &::after {
        background-color: rgba($color, weight(2));
      }
    }
  }

  @mixin icon-shadow($color, $icon-size) {
    .icon {
      box-shadow: inset-shadow(math.div($icon-size, 6)),
        shadow(math.div($icon-size, 2), rgba($color, weight(2)));
    }
  }

  @mixin icon($color) {
    @include icon-color($color);
    @include icon-shadow($color, nth($icon-size-small, 1));

    @media screen and (min-width: $breakpoint) {
      @include icon-shadow($color, nth($icon-size-large, 1));
    }
  }

  li.swift {
    @include icon($orange-color);
  }

  li.swiftui {
    @include icon($indigo-color);
  }

  li.react {
    @include icon($blue-color);
  }

  li.typescript {
    @include icon($teal-color);
  }

  &.icon-list-content {
    @media screen and (min-width: $breakpoint-medium) {
      min-width: 384px;
      max-width: 768px;
    }

    @media screen and (min-width: $breakpoint-large) {
      min-width: 512px;
      max-width: 1024px;
    }

    li {
      align-items: flex-start;
    }
  }

  &.icon-list-white {
    .heading,
    h3 {
      &::after {
        background-color: rgba($background-color, weight(2));
      }
    }
  }
}

main {
  background-color: $primary-color;
  box-shadow: inset 0 0 8em rgba(black, weight(4)),
    0 0 4em rgba($primary-color, weight(2));

  h2 {
    @include heading-color(
      mix($background-color, $primary-color, 100% * weight(1))
    );
  }

  h3 {
    color: $background-color;
  }

  p {
    color: mix($background-color, $primary-color, 100% * weight(1));
  }
}

main > section {
  padding: 2em;

  @media screen and (min-width: $breakpoint-medium) {
    padding: 4em;
  }
}

footer {
  padding: 2em;

  p {
    margin: 0 auto;

    text-align: center;
    color: lighten($foreground-color, 2);
  }
}
