@use "sass:math";
@use "sass:list";

@use "colors" as *;
@use "variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;

  font-size: $font-size;
  color: $foreground-color;
  font-family: $font-family;

  @media screen and (min-width: $breakpoint-large) {
    font-size: $font-size-large;
  }
}

@mixin heading-color($color) {
  color: $color;
  text-shadow: shadow(
    $heading-text-shadow-blur,
    rgba($color, $heading-text-shadow-alpha)
  );
}

h1,
h2,
h3 {
  @include heading-color($heading-color);

  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
}

h1 {
  text-align: center;
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;

  * + & {
    margin-top: $h1-margin-top;
  }
}

h2 {
  @include heading-color($h2-color);

  font-size: $h2-font-size;

  & + * {
    margin-top: $h2-margin-bottom;
  }
}

h3 {
  font-size: $h3-font-size;
}

p {
  max-width: $p-max-width;

  color: $p-color;
  line-height: $p-line-height;
  text-align: justify;
}

header,
main > section,
footer {
  margin-left: auto;
  margin-right: auto;
}

#down-navigation {
  padding-bottom: $down-navigation-padding-bottom;

  text-align: center;

  a {
    opacity: $down-navigation-opacity;

    transition: opacity $hover-transition-duration ease;

    &:hover {
      opacity: $down-navigation-hover-opacity;
    }
  }
}

header,
main {
  min-height: 100vh;
}

header,
header > section,
main,
main > section {
  display: flex;
  flex-direction: column;
}

header > section,
main > section {
  flex: 1;
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

header > section {
  @mixin padding($padding) {
    padding: $padding;

    &:first-child {
      padding-bottom: 0;
    }
  }

  & > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-grow: 1;

    @include padding($header-padding);
  }

  @media screen and (min-width: $breakpoint-small) {
    & > section {
      @include padding($header-padding-small);
    }
  }

  @media screen and (min-width: $breakpoint-medium) {
    & > section {
      @include padding($header-padding-medium);
    }
  }

  @media screen and (min-width: $breakpoint-large) {
    flex-direction: row;

    & > section {
      padding: $header-padding-large;

      &:first-child {
        padding-bottom: $header-padding-large;
      }
    }

    h2 {
      display: none;
    }
  }
}

.icon-navigation ul {
  margin: $icon-navigation-margin-horizontal 0;

  li + li {
    margin-left: $icon-navigation-margin;
  }

  a {
    transition: opacity $hover-transition-duration ease;

    &:hover {
      opacity: $icon-navigation-hover-opacity;
    }

    &:active {
      opacity: $icon-navigation-active-opacity;
    }
  }

  img {
    width: $icon-navigation-size;
    height: $icon-navigation-size;
    border-radius: 50%;
  }

  @mixin icon-color($color) {
    img {
      background-color: $color;
      box-shadow: icon-shadow($icon-navigation-size, $color);
    }
  }

  .github {
    @include icon-color($github-color);
  }

  .linkedin {
    @include icon-color($linkedin-color);
  }

  .mail {
    @include icon-color($mail-color);
  }
}

.icon-list {
  width: 100%;
  max-width: $icon-list-max-width;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $breakpoint-large) {
    max-width: $icon-list-max-width-large;
    min-width: $icon-list-min-width-large;
  }

  li {
    display: flex;
    align-items: center;

    &:nth-child(odd) {
      flex-direction: row;

      .icon {
        margin-right: $icon-list-margin;
      }

      .heading-wrapper {
        align-items: flex-start;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      .icon {
        margin-left: $icon-list-margin;
      }

      .heading-wrapper {
        align-items: flex-end;
      }
    }
  }

  li + li {
    margin-top: $icon-list-margin;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
  }

  .heading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .heading,
  h3 {
    position: relative;
    transform-style: preserve-3d;

    @include heading-color($heading-color);

    font-size: $h3-font-size;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;

    &::after {
      content: "";

      position: absolute;

      bottom: 0;
      left: -$icon-list-underline-height;
      right: -$icon-list-underline-height;
      height: $icon-list-underline-height;

      transform: translateZ(-1px);
    }
  }

  @mixin icon-size($icon-size) {
    .icon {
      $size: nth($icon-size, 1);
      width: $size;
      height: $size;

      img {
        $size: nth($icon-size, 2);
        width: $size;
        height: $size;
      }
    }

    .heading-wrapper {
      height: nth($icon-size, 1);
    }
  }

  @include icon-size($icon-list-icon-size);

  @media screen and (min-width: $breakpoint-large) {
    @include icon-size($icon-list-icon-size-large);
  }

  @mixin icon-color-heading($color) {
    .heading,
    h3 {
      @include heading-color($color);

      &::after {
        background-color: rgba($color, $icon-list-underline-alpha);
      }
    }
  }

  @mixin icon-color($color) {
    @include icon-color-heading($color);

    .icon {
      background-color: $color;
    }

    .heading,
    h3 {
      color: $heading-color;
    }
  }

  @mixin icon-shadow($icon-size, $color) {
    .icon {
      box-shadow: icon-shadow($icon-size, $color);
    }
  }

  @mixin icon($color) {
    @include icon-color($color);
    @include icon-shadow(nth($icon-list-icon-size, 1), $color);

    @media screen and (min-width: $breakpoint-large) {
      @include icon-shadow(nth($icon-list-icon-size-large, 1), $color);
    }
  }

  li.swift {
    @include icon($swift-color);
  }

  li.swiftui {
    @include icon($swiftui-color);
  }

  li.react {
    @include icon($react-color);
  }

  li.typescript {
    @include icon($typescript-color);
  }

  &.icon-list-content {
    max-width: $icon-list-content-max-width;

    li {
      align-items: flex-start;
    }
  }

  &.icon-list-main {
    @include icon-color-heading($main-foreground-color);
  }
}

main {
  background-color: $main-background-color;
  box-shadow: $main-box-shadow;

  h2 {
    @include heading-color($main-h2-color);
  }

  h3 {
    @include heading-color($main-foreground-color);
  }

  p {
    color: $main-p-color;
  }
}

main > section {
  padding: $main-padding;

  @media screen and (min-width: $breakpoint-medium) {
    padding: $main-padding-medium;
  }
}

footer {
  width: 100%;

  padding: $footer-padding;

  @media screen and (min-width: $breakpoint-small) {
    padding: $footer-padding-small;
  }

  @media screen and (min-width: $breakpoint-medium) {
    padding: $footer-padding-medium;
  }

  p {
    display: block;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    color: $footer-p-color;
  }
}
