@use "sass:math";
@use "sass:list";

@use "colors" as *;
@use "variables" as *;
@use "functions" as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;

  font-size: $font-size;
  color: $foreground-color;
  font-family: $font-family;

  @media screen and (min-width: $breakpoint-large) {
    font-size: $font-size-large;
  }
}

@mixin heading-color($color) {
  color: $color;
  text-shadow: shadow(
    $heading-text-shadow-blur,
    rgba($color, $heading-text-shadow-weight)
  );
}

h1,
h2,
h3 {
  @include heading-color($heading-color);

  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin-bottom: $heading-margin-bottom;

  @media screen and (min-width: $breakpoint-small) {
    margin-bottom: $heading-margin-bottom-small;
  }

  @media screen and (min-width: $breakpoint-medium) {
    margin-bottom: $heading-margin-bottom-medium;
  }
}

h1 {
  text-align: center;
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  margin-bottom: $h1-margin-bottom;
}

h2 {
  @include heading-color($h2-color);

  width: 100%;

  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

p {
  max-width: $p-max-width;

  color: $p-color;
  line-height: $p-line-height;
  text-align: justify;
}

header,
main > section {
  margin: 0 auto;
  max-width: $max-width;
}

header {
  position: relative;

  #jochenbernard {
    margin-bottom: $jochenbernard-margin-bottom;
  }

  #down-navigation {
    position: absolute;
    left: 50%;
    bottom: $down-navigation-bottom;
    transform: translateX(-50%);

    a {
      opacity: $down-navigation-opacity;

      transition: opacity $hover-transition-duration ease;

      &:hover {
        opacity: $down-navigation-hover-opacity;
      }
    }
  }
}

header > section,
main > section {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  box-sizing: border-box;
}

header > section {
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: $header-padding;
    box-sizing: border-box;

    &:first-child {
      min-height: 100vh;
    }
  }

  @media screen and (min-width: $breakpoint-small) {
    & > div {
      padding: $header-padding-small;
    }
  }

  @media screen and (min-width: $breakpoint-medium) {
    & > div {
      padding: $header-padding-medium;
    }
  }

  @media screen and (min-width: $breakpoint-large) {
    flex-direction: row;

    & > div {
      flex: 1;

      padding: $header-padding-large;

      &:first-child {
        flex: nth($header-div-flex, 1);

        min-height: auto;
      }

      &:last-child {
        flex: nth($header-div-flex, 2);
      }
    }

    h2 {
      display: none;
    }
  }
}

.icon-navigation ul {
  display: flex;
  flex-direction: row;

  margin-bottom: math.div($h1-margin-bottom, 1em) * $h1-font-size;

  li + li {
    margin-left: $icon-navigation-margin;
  }

  img {
    width: $icon-navigation-size;
    height: $icon-navigation-size;
    border-radius: 50%;
  }

  @mixin icon-color($color) {
    img {
      background-color: $color;
      box-shadow: icon-shadow($icon-navigation-size, $color);
    }
  }

  .github {
    @include icon-color($github-color);
  }

  .linkedin {
    @include icon-color($linkedin-color);
  }

  .mail {
    @include icon-color($mail-color);
  }

  a {
    transition: opacity $hover-transition-duration ease;

    &:hover {
      opacity: $icon-navigation-hover-opacity;
    }

    &:active {
      opacity: $icon-navigation-active-opacity;
    }
  }
}

.icon-list {
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-medium) {
    min-width: $icon-list-min-width-medium;
    max-width: $icon-list-max-width-medium;
  }

  @media screen and (min-width: $breakpoint-large) {
    max-width: $icon-list-max-width-large;
  }

  li {
    display: flex;
    align-items: center;

    &:nth-child(odd) {
      flex-direction: row;

      .icon {
        margin-right: $icon-list-margin;
      }

      .heading-wrapper {
        align-items: flex-start;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      .icon {
        margin-left: $icon-list-margin;
      }

      .heading-wrapper {
        align-items: flex-end;
      }
    }
  }

  li + li {
    margin-top: $icon-list-margin;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .heading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .heading,
  h3 {
    position: relative;
    transform-style: preserve-3d;

    margin: 0;

    @include heading-color($heading-color);

    font-size: $h3-font-size;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;

    &::after {
      content: "";

      position: absolute;

      left: -$icon-list-underline-height;
      right: -$icon-list-underline-height;
      bottom: 0;
      height: $icon-list-underline-height;

      transform: translateZ(-1px);
    }
  }

  @mixin icon-size($icon-size) {
    .icon {
      $size: nth($icon-size, 1);
      width: $size;
      height: $size;

      img {
        $size: nth($icon-size, 2);
        width: $size;
        height: $size;
      }
    }

    .heading-wrapper {
      height: nth($icon-size, 1);
    }
  }

  @include icon-size($icon-list-icon-size);

  @media screen and (min-width: $breakpoint-large) {
    @include icon-size($icon-list-icon-size-large);
  }

  @mixin icon-color($color) {
    .icon {
      background-color: $color;
    }

    .heading,
    h3 {
      text-shadow: shadow(
        $icon-list-shadow-blur,
        rgba($color, $icon-list-shadow-color-weight)
      );

      &::after {
        background-color: rgba($color, $icon-list-underline-weight);
      }
    }
  }

  @mixin icon-shadow($icon-size, $color) {
    .icon {
      box-shadow: icon-shadow($icon-size, $color);
    }
  }

  @mixin icon($color) {
    @include icon-color($color);
    @include icon-shadow(nth($icon-list-icon-size, 1), $color);

    @media screen and (min-width: $breakpoint-large) {
      @include icon-shadow(nth($icon-list-icon-size-large, 1), $color);
    }
  }

  li.swift {
    @include icon($swift-color);
  }

  li.swiftui {
    @include icon($swiftui-color);
  }

  li.react {
    @include icon($react-color);
  }

  li.typescript {
    @include icon($typescript-color);
  }

  &.icon-list-content {
    @media screen and (min-width: $breakpoint-medium) {
      min-width: 384px;
      max-width: 768px;
    }

    @media screen and (min-width: $breakpoint-large) {
      min-width: 512px;
      max-width: 1024px;
    }

    li {
      align-items: flex-start;
    }
  }

  &.icon-list-white {
    .heading,
    h3 {
      @include heading-color($main-foreground-color);

      &::after {
        background-color: rgba(
          $main-foreground-color,
          $icon-list-underline-weight
        );
      }
    }
  }
}

main {
  background-color: $main-background-color;
  box-shadow: $main-box-shadow;

  h2 {
    @include heading-color($main-h2-color);

    margin-bottom: $heading-main-margin-bottom;

    @media screen and (min-width: $breakpoint-medium) {
      margin-bottom: $heading-main-margin-bottom-medium;
    }
  }

  h3 {
    @include heading-color($main-foreground-color);
  }

  p {
    color: $main-p-color;
  }
}

main > section {
  padding: $main-padding;

  @media screen and (min-width: $breakpoint-medium) {
    padding: $main-padding-medium;
  }
}

footer {
  padding: $footer-padding;

  p {
    margin: 0 auto;

    text-align: center;
    color: $footer-p-color;
  }
}
