@use "sass:math";

$orange-color: #f05137;
$indigo-color: #486cdf;
$blue-color: #007ad6;
$teal-color: #027ba7;

$primary-color: $indigo-color;

$color-weight: math.div(100%, 32);
$background-color: mix($primary-color, white, $color-weight);
$foreground-color: mix($primary-color, black, $color-weight);

@function weight($amount) {
  @return math.pow(0.5, $amount);
}

@function lighten($color, $amount) {
  @return mix($color, $background-color, 100% * weight($amount));
}

@function shadow($blur, $color) {
  @return 0 math.div($blur, 4) $blur $color,
    0 math.div($blur, 4) $blur rgba(black, weight(4));
}

@function inset-shadow($blur) {
  $offset: math.div($blur, 2);
  @return inset 0 - $offset $offset $blur rgba(white, weight(3)),
    inset $offset 0 - $offset $blur rgba(black, weight(5));
}

body {
  background-color: $background-color;

  font-size: 20px;
  color: $foreground-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@mixin heading-color($color) {
  color: $color;
  text-shadow: shadow(1em, rgba($color, weight(3)));
}

h1,
h2 {
  @include heading-color($foreground-color);

  text-align: center;
  line-height: 0.875;
}

h1 {
  font-size: 4em;
  font-weight: 900;
}

h2 {
  font-size: 3em;
  font-weight: 700;
}

p {
  max-width: 48ch;

  line-height: 1.5;
  text-align: justify;
  color: lighten($foreground-color, 1);

  * + & {
    margin-top: 4em;
  }
}

header > section,
main > section {
  display: flex;

  min-height: 100vh;
  box-sizing: border-box;
}

header > section {
  flex-direction: row;

  padding: 8em;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:first-child {
      flex: 3;

      margin-right: 8em;
    }

    &:last-child {
      flex: 2;
    }
  }
}

.icon-list {
  width: 100%;

  li {
    display: flex;
    align-items: center;

    $heading-margin: 1em;

    &:nth-child(odd) {
      flex-direction: row;

      p {
        margin-left: $heading-margin;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      p {
        margin-right: $heading-margin;
      }
    }

    &:not(:first-child) {
      margin-top: 2em;
    }
  }

  $icon-size: 96px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
  }

  p {
    position: relative;
    transform-style: preserve-3d;

    margin: 0;

    font-size: 2em;
    font-weight: 700;
    line-height: 0.875;
    color: $foreground-color;

    &::after {
      content: "";

      position: absolute;

      $width: 0.25em;
      left: -$width;
      right: -$width;
      bottom: 0;
      height: $width;

      transform: translateZ(-1px);
    }
  }

  @mixin icon-color($color) {
    div {
      background-color: $color;
      box-shadow: inset-shadow(math.div($icon-size, 6)),
        shadow(math.div($icon-size, 2), rgba($color, 0.25));
    }

    p {
      text-shadow: shadow(1em, rgba($color, 0.25));

      &::after {
        background-color: rgba($color, 0.25);
      }
    }
  }

  li.swift {
    @include icon-color($orange-color);
  }

  li.swiftui {
    @include icon-color($indigo-color);
  }

  li.react {
    @include icon-color($blue-color);
  }

  li.typescript {
    @include icon-color($teal-color);
  }
}

main > section {
  padding: 4em;
  background-color: $primary-color;
  box-shadow: inset 0 0 8em rgba(black, weight(4)),
    0 0 4em rgba($primary-color, 0.25);

  h2 {
    @include heading-color($background-color);
  }
}

footer {
  padding: 2em;

  p {
    margin: 0 auto;

    text-align: center;
    color: lighten($foreground-color, 2);
  }
}
