@use "sass:list";

@use "colors" as *;
@use "variables" as *;
@use "mixins" as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;

  color: $foreground-color;
  font-family: $font-family;
  line-height: $line-height;
}

h1,
h2,
h3 {
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;

  @include heading-shadow($foreground-color);
}

h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  text-align: center;

  * + & {
    margin-top: $h1-margin-top;
  }
}

h2 {
  color: $h2-color;
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;

  @include heading-shadow($h2-color);
}

h3 {
  font-size: $h3-font-size;
}

p {
  max-width: $p-max-width;

  color: $p-color;
  text-align: justify;
}

#jochenbernard {
  @include margin-vertical($jochenbernard-margin-vertical);
}

#down-nav {
  @include margin-horizontal(auto);
}

.colored-underline {
  position: relative;

  color: $foreground-color;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;

  z-index: 1;

  &::after {
    content: "";
    display: inline-block;

    position: absolute;
    bottom: 0;
    left: -$colored-underline-height;
    right: -$colored-underline-height;
    height: $colored-underline-height;
    border-radius: $colored-underline-border-radius;

    opacity: $colored-underline-opacity;
    z-index: -1;
  }
}

.icon-nav {
  display: flex;
  flex-direction: row;

  @include margin-vertical($icon-nav-margin-vertical);

  line-height: 0;

  li + li {
    margin-left: $icon-nav-gap;
  }

  a {
    display: inline-block;

    width: $icon-nav-icon-size;
    height: $icon-nav-icon-size;
    border-radius: 50%;

    @mixin color($color) {
      @include icon-shadow($icon-nav-icon-size, $color);

      background-color: $color;
    }

    &.github {
      @include color($github-color);
    }

    &.linkedin {
      @include color($linkedin-color);
    }

    &.mail {
      @include color($mail-color);
    }
  }
}

.skills {
  padding: $skills-padding;
  max-width: $skills-max-width;
  width: 100%;

  li {
    display: flex;
    align-items: center;

    &:nth-child(odd) {
      flex-direction: row;

      .icon {
        margin-right: $skills-icon-margin;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      .icon {
        margin-left: $skills-icon-margin;
      }
    }

    @mixin color($color) {
      @include colored-underline($color);

      .icon {
        @include icon-shadow(nth($skills-icon-size, 1), $color);

        background-color: $color;
      }
    }

    &.swift {
      @include color($swift-color);
    }

    &.swiftui {
      @include color($swiftui-color);
    }

    &.react {
      @include color($react-color);
    }

    &.typescript {
      @include color($typescript-color);
    }
  }

  li + li {
    margin-top: $skills-gap;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    $size: nth($skills-icon-size, 1);
    width: $size;
    height: $size;
    border-radius: 50%;
  }

  img {
    $size: nth($skills-icon-size, 2);
    width: $size;
    height: $size;
  }

  p {
    font-size: $skills-font-size;
  }
}

.experience {
  @include margin-horizontal(auto);
  max-width: $experience-max-width;

  li {
    margin-top: $experience-gap;

    &:nth-child(odd) {
      div {
        flex-direction: row;
      }

      img {
        margin-right: $experience-icon-margin;
      }

      p {
        margin-right: auto;
      }
    }

    &:nth-child(even) {
      div {
        flex-direction: row-reverse;
      }

      img {
        margin-left: $experience-icon-margin;
      }

      p {
        margin-left: auto;
      }
    }

    &.devizer {
      @include colored-underline($devizer-color);
    }

    &.versasense {
      @include colored-underline($versasense-color);
    }

    &.quivr {
      @include colored-underline($quivr-color);
    }
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: $experience-heading-margin-bottom;
  }

  img {
    width: $experience-icon-size;
    height: $experience-icon-size;
  }
}

header,
main,
footer {
  padding: $padding;

  & > section {
    @include margin-horizontal(auto);
    max-width: $max-width;
  }
}

header {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  & > section {
    flex: 1;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & + div {
        margin-top: $header-gap;
      }
    }
  }
}

#main-footer {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

main {
  flex: 1;

  background-color: $main-background-color;
}

footer {
  background-color: $footer-background-color;

  p {
    @include margin-horizontal(auto);

    text-align: center;
  }
}
