@use "../functions" as *;

@use "html-body";

$font-weight: 700;
$line-height: 0.875;
$color: html-body.$color;

$h1-font-size: 3.5rem;
$h1-font-weight: 900;
$h1-margin-top: 0.5em;

$h2-font-size: 3rem;
$h2-font-weight: 400;
$h2-color: lighten(html-body.$color, 2);

$h3-font-size: 2rem;

@mixin shadow($color) {
  text-shadow: shadow(1em, rgba($color, weight(5)));
}

h1,
h2,
h3 {
  @include shadow($color);

  color: $color;
  font-weight: $font-weight;
  line-height: $line-height;
}

h1 {
  text-align: center;
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;

  * + & {
    margin-top: $h1-margin-top;
  }
}

h2 {
  @include shadow($h2-color);

  color: $h2-color;
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
}

h3 {
  font-size: $h3-font-size;
}
