@use "../colors" as *;

$color: $black;
$background-color: $white;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$line-height: 1.5;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;

  color: $color;
  font-family: $font-family;
  line-height: $line-height;
}
